h1{
    color: cadetblue;
}

.container{
    display: flex;
}


h2{
    margin: 10px;
    color: brown;
}

p{
    margin: 10px;
}
.mizuya{

    width: 300px;
    height: 300px;
    margin: 10px;
}
.ro{

    width: 300px;
    height: 300px;
    margin: 10px;
}
.toko{

    width: 300px;
    height: 300px;
    margin: 10px;
}

.dougu{
    width: 300px;
    height: 300px;
    margin: 10px;
}